{% render 'partials/head.liquid', title: 'Squad page'  %}
<aside class="sidebar">
    <form action="/" method="get">
        <input type="text">
    </form>
</aside>
<main class="all">
<h2>Shop hier onze studenten</h2>

<!-- Section with all students -->
{% include 'partials/cardlayout.liquid' %}

</main>

{% render 'partials/foot.liquid', squads: squads %}