{% render 'partials/head.liquid', title: person.name %}
{% include 'partials/calc.liquid' %}

<a href="/">Back</a>

<main class="student">

{% include 'partials/individual.liquid' %}

</main>


{% render 'partials/foot.liquid', squads: squads %}