{% render 'partials/head.liquid', title: person.name %}
{% include 'partials/calc.liquid' %}

<a href="/">Back</a>

<main class="student">

{% include 'partials/individual.liquid' %}

<section>
    <h2>Mijn favoriete seizoen</h2>
    <img src="/assets/{{ person.fav_season }}.jpg" alt="">
</section>
</main>


{% render 'partials/foot.liquid', squads: squads %}