* {
    list-style: none;
    margin: 0;
    padding: 0;
	font-family: sans-serif;
}

.vs-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

body {
    --primary-fdnd: #66E5BF;
    --badges: #FFFC86;
    --secondary: #A675F5;
	--black: #000000;

	/* font sizes */
	--paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.3rem, 2.5vw, 2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);
}

h1, h2 {
	font-weight: 700;
	font-size: var(--heading-big);
}

h3, h4 {
	font-weight: 700;
	font-size: var(--heading-medium);
}

h5, h6 {
	font-weight: 700;
	font-size: var(--heading-small);
}

p, a, span {
	font-size: var(--paragraph);
}

img, video {
	width: 100%;
	height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 10vh;
	padding: .5rem;
    background-color: var(--primary-fdnd);
	position: sticky;
    top: 0;
	z-index: 100;

    img {
		width: 20%;
		max-width: 7rem;
		height: auto;
    }



	form {
		display: flex;
    	justify-content: center; 
    	align-items: center;
		position: fixed;
		top: 10dvh;
		left: 0;
		width: 100vw;
		height: 5dvh;
		background-color: var(--primary-fdnd);

		@media (min-width: 700px) {
			position: static;
		}

		input[type="search"] {
			width: 80vw;
			height: 4dvh;
			padding-left: .7rem; 
			

			&::-webkit-search-decoration {

				transform: scale(1.5); 
				margin-right: 10px;
			}
			&::-webkit-search-cancel-button {

				transform: scale(1.5); 
				margin-right: 10px;
			}
		}
	}

	svg {
		width: 2rem;
	}
}

main {

	h2 {
		margin: 2rem 0;
	}

	margin-top: 3dvh;
	padding: 1rem;

	section:nth-of-type(1) {
		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 3vw;

			li {
				display: flex;
				flex-direction: column;
				width: 100vw;
				border: 2px var(--black) solid;
				border-radius: 2rem;
				box-shadow: var(--black) .3rem .3rem 0rem;

				@media (min-width: 450px) {
					width: 42vw;
				}


				@media (min-width: 700px) {
					width: 28vw;
				}

				@media (min-width: 1200px) {
					width: 20vw;
				}
			}

			figure {
				position: relative;

				img {
					border-radius: 2rem 2rem 0rem 0rem;
					
				}

				p:nth-of-type(1) {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					left: .7rem;
					top: .7rem;
					width: 3.7rem;
					height: 1.7rem;
					border-radius: 1rem;
					background-color: var(--secondary);
					font-size: 1rem;

					@media (min-width: 700px) {
						left: 1rem;
						top: 1rem;
						width: 6rem;
						height: 2rem;		
					}
				}
			}

			article {
				padding: .5rem;
			}
		}
	}
}