

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 10vh;
	padding: .5rem;
    background-color: var(--primary-fdnd);
	position: sticky;
    top: 0;
	z-index: 100;

	a {
		display: flex;

		img {
			width: 100%;
			max-width: 7rem;
			height: auto;
    	}
	}





	form {
		display: flex;
    	justify-content: center; 
    	align-items: center;
		position: fixed;
		top: 10dvh;
		left: 0;
		width: 100vw;
		height: 5dvh;
		background-color: var(--primary-fdnd);

		@media (min-width: 700px) {
			position: static;
		}

		input[type="search"] {
			width: 80vw;
			max-width: 500px;
			height: 4dvh;
			min-height: 3rem;
			padding-left: .7rem; 
			border-radius: 100px;
			

			&::-webkit-search-decoration {

				transform: scale(1.5); 
				margin-right: 10px;
			}
			&::-webkit-search-cancel-button {

				transform: scale(1.5); 
				margin-right: 10px;
			}
		}
	}

	svg {
		width: 2rem;
	}
}

main {
	margin-top: 3dvh;
	padding: 1rem;
}

main.home {	

	h2 {
		margin: 2rem 0;
	}

	.view-more {
		display: flex;
		font-size: 1rem;
		text-decoration: none;
		background-color: var(--secondary);
		padding: .5rem 1rem;
		color: white;
		border-radius: 2rem;
		width: 80vw;
		max-width: 15rem;
		margin: 2rem auto;
	}
}

main.all {

}

main.student {

	section.details {
		display: flex; 
		flex-direction: column;

		@media (min-width: 789px) {
			flex-direction: row;
			gap: 5vw;
		}

		section:nth-of-type(1) {

			display: flex;
			width: 100%;

			@media (min-width: 789px) {
				flex-direction: column;
				width: 45vw;
			}
		}

		img {
			border-radius: 2rem;
		}

		section:nth-of-type(2) {

			display: flex;
			flex-direction: column;
			width: 100%;

			@media (min-width: 789px) {

				width: 45vw;
			}
		}
	}
}
