* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: sans-serif;
}

.vs-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

body {

    /* kleuren van fdnd */
    --primary-fdnd: #66E5BF;
    --badges: #FFFC86;
    --secondary: #A675F5;
	--black: #000000;

	/* font sizes */
	--paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.4rem, 2.7vw, 2.2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);
}

h1, h2 {
	font-weight: 700;
	font-size: var(--heading-big);
}

h3, h4 {
	font-weight: 700;
	font-size: var(--heading-medium);
}

h5, h6 {
	font-weight: 700;
	font-size: var(--heading-small);
}

p, a, span {
	font-size: var(--paragraph);
}

img, video {
	width: 100%;
	height: auto;
}

/* badges for all pages */
div.badges {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin: 0 0 2rem 0;

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        background-color: var(--badges);
        width: fit-content;
        padding: .3rem .8rem;
        height: 1.7rem;
        border-radius: 1rem;


        &:nth-of-type(1) {
            width: 3rem;
        }

        &:nth-of-type(2) {

        }

        &:nth-of-type(3) {
            display: none;

            @media (min-width: 1000px) {
                display: flex;
            }
        }
    }
}

/* card design universial */
section.cardlayout {

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2vw;

        @media (min-width: 550px) {
            grid-template-columns:  1fr 1fr;
        }

        @media (min-width: 789px) {
            grid-template-columns:  1fr 1fr 1fr;
        }

        @media (min-width: 1500px) {
            grid-template-columns:  1fr 1fr 1fr 1fr;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px var(--black) solid;
        border-radius: 2rem;
        box-shadow: var(--black) .3rem .3rem 0rem;
        margin-bottom: 1rem;
        
        &.Zomer {
            position: relative;

            div.clouds {
                --cloud-svg: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTgiIGhlaWdodD0iNTkiIHZpZXdCb3g9IjAgMCA5OCA1OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbHRlcj0idXJsKCNmaWx0ZXIwX2RfMTA2XzUyKSI+CiAgICA8cGF0aCBkPSJNNTguNTU4OSAxLjc5NjM2QzY4Ljg4MDMgLTAuOTY5MTMgNzkuMDk4NSAzLjY5ODU3IDgxLjM4MjYgMTIuMjIxOUM4Mi4xMDk0IDE0LjkzNDMgODEuOTQzNiAxNy43MSA4MS4wNDkxIDIwLjMyMzZDODUuNTY2NSAyMi4wNzUzIDg5LjAyODYgMjUuNDcyNiA5MC4yMzMxIDI5Ljk2NzZDOTIuNDY1NiAzOC4yOTkyIDg2LjA5NjggNDcuMjQ0OSA3Ni4wMDc3IDQ5Ljk0ODRDNjguMDM0NSA1Mi4wODQ4IDYwLjEyNDYgNDkuNjgzIDU2LjA1NTQgNDQuNDY5N0M1My43MzEwIDQ2LjczNzkgNTAuNjY5MyA0OC41MjEyIDQ3LjExMjQgNDkuNDc0NEM0MC43NjU1IDUxLjE3NTAgMzQuNDYwOSA0OS44MDMwIDMwLjM3NTYgNDYuMzUyMUMyOC4xNzYxIDQ4LjI0NDAgMjUuNDI3MyA0OS43MjgzIDIyLjI5MzkgNTAuNTY3OUMxMi44NTMwIDUzLjA5NzYgMy41MDYzIDQ4LjkyODMgMS40MTcxOCA0MS4wMzIwQy0wLjY3MTg1OCAzMy4yMzU2IDUuMjg3NzggMjQuODY0MSAxNC43Mjg3IDIyLjMzNDRDMTYuMTY0OSAyMS45NDk2IDE3LjU5OTAgMjEuNzIzIDE5LjAwNTYgMjEuNjQxM0MyMC43NDg3IDE2LjUwNTAgMjUuNTc0MCAxMi4wNDkxIDMyLjAyNTEgMTAuMzIwNUMzNi44OTY1IDkuMDE1MiA0MS43NDI4IDkuNTE5OTkgNDUuNTggMTEuMzg1NkM0OC4wNzQ0IDYuOTg4MDMgNTIuNzA0NyAzLjM2NDk5IDU4LjU1ODkgMS43OTYzNloiIGZpbGw9IndoaXRlIi8+CiAgICA8L2c+CiAgICA8ZGVmcz4KICAgIDxmaWx0ZXIgaWQ9ImZpbHRlcjBfZF8xMDZfNTIiIHg9IjAiIHk9IjAiIHdpZHRoPSI5Ny42NzkiIGhlaWdodD0iNTguMjk2NSIgZmlsdGVyVW5pdHM9InVzZXJTcGFjZU9uVXNlIiBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9InNSR0IiPgogICAgPGZlRmxvb2QgZmxvb2Qtb3BhY2l0eT0iMCIgcmVzdWx0PSJCYWNrZ3JvdW5kSW1hZ2VGaXgiLz4KICAgIDxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VBbHBoYSIgdHlwZT0ibWF0cml4IiB2YWx1ZXM9IjAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDEyNyAwIiByZXN1bHQ9ImhhcmRBbHBoYSIvPgogICAgPGZlT2Zmc2V0IGR4PSIzIiBkeT0iMyIvPgogICAgPGZlR2F1c3NpYW5CbHVyIHN0ZERldmlhdGlvbj0iMiIvPgogICAgPGZlQ29tcG9zaXRlIGluMj0iaGFyZEFscGhhIiBvcGVyYXRvcj0ib3V0Ii8+CiAgICA8ZmVDb2xvck1hdHJpeCB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMCAwIDAgMC4yNSAwIi8+CiAgICA8ZmVCbGVuZCBtb2RlPSJub3JtYWwiIGluMj0iQmFja2dyb3VuZEltYWdlRml4IiByZXN1bHQ9ImVmZmVjdDFfZHJvcFNoYWRvd18xMDZfNTIiLz4KICAgIDxmZUJsZW5kIG1vZGU9Im5vcm1hbCIgaW49IlNvdXJjZUdyYXBoaWMiIGluMj0iZWZmZWN0MV9kcm9wU2hhZG93XzEwNl81MiIgcmVzdWx0PSJzaGFwZSIvPgogICAgPC9maWx0ZXI+CiAgICA8L2RlZnM+Cjwvc3ZnPg==);

                display: flex;
                justify-content: space-between;
                gap: 1rem;

                p {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1rem;
                    padding-top: .5rem;
                    height: 3rem;
                    min-width: fit-content;
                    aspect-ratio: 1.8;
                    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
                    mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
                    background-color: white;

                    &:nth-of-type(2) {
                        height: 3rem;
                        min-width: fit-content;
                        aspect-ratio: 2.2;
                        --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
                        mask: var(--g) 100% 100%/30% 60%,var(--g) 70% 0/50% 100%,var(--g) 0 100%/36% 68%,var(--g) 27% 18%/26% 40%,linear-gradient(#000 0 0) bottom/67% 58% no-repeat;
                    }
                }
            }

            article {
                background-color: #8BDAFF;
                background-image: url("/assets/summer-background.png");
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: contain;
                border-radius: 0 0 30px 30px;
            }

            a {
                display: flex;
                justify-content: flex-start; 
                align-items: flex-end;       
                padding-left: 1.2rem; 
                padding-bottom: 1.2rem; 
                text-decoration: underline;
                color: white;
                aspect-ratio: 4 / 1;       
                background-image: url("/assets/submarine.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left center;
                position: relative;

                &::after {
                    position: absolute;
                    bottom: .7rem; 
                    left: 9rem;
                    content: url(data:image/svg+xml,%3Csvg%20width%3D%2223%22%20height%3D%2225%22%20viewBox%3D%220%200%2023%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.79175%2012.5H18.2084M18.2084%2012.5L11.5001%205.20837M18.2084%2012.5L11.5001%2019.7917%22%20stroke%3D%22white%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);

                    @media (min-width: 700px) {
                        left: 11rem;
                    }
                }
            }



            

        }

        &.Lente {
            background-color: #9DE5F5;
        }

        &.Herfst {
            background-color: #F2D8A5;
        }

        &.Winter {
            background-color: #8FC7FF;
        }
    }

    figure {
        position: relative;
        display: flex;

        img {
            border-radius: 2rem 2rem 0rem 0rem;
            
        }

        p:nth-of-type(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: .7rem;
            top: .7rem;
            height: 1.7rem;
            width: 40%;
            min-width: fit-content;
            padding: .3rem .7rem;
            border-radius: 1rem;
            background-color: var(--secondary);
            font-size: 1rem;

            @media (min-width: 700px) {
                left: 1rem;
                top: 1rem;
                width: 6rem;
                height: 2rem;		
            }
        }
    }

    article {

        padding: .5rem;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 40%;
            height: auto;
        }

        h3 {
            margin: .5rem 0;
            font-size: 1.3rem;
        }

        p {
            font-size: 1.2rem;
        }

        span {
            font-size: 1rem;
            text-decoration: line-through;
            font-style: italic;
        }
    }
}

section.individual {

    display: flex; 
    flex-direction: column;

    @media (min-width: 789px) {
        flex-direction: row;
        gap: 5vw;
    }

    article:nth-of-type(1) {

        display: flex;
        width: 100%;

        @media (min-width: 789px) {
            flex-direction: column;
            width: 45vw;
        }
    }

    img {
        border-radius: 2rem;
    }

    section:nth-of-type(1) {

        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 789px) {

            width: 45vw;
        }
    }

    p.price {
        margin: 2rem 0;
        font-size: var(--paragraph);
    }

    span {
        font-size: 1rem;
        text-decoration: line-through;
        font-style: italic;
    }
}