* {
    list-style: none;
    margin: 0;
    padding: 0;
	font-family: sans-serif;
}

.vs-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

body {

    /* kleuren van fdnd */
    --primary-fdnd: #66E5BF;
    --badges: #FFFC86;
    --secondary: #A675F5;
	--black: #000000;

	/* font sizes */
	--paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.4rem, 2.7vw, 2.2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);
}

h1, h2 {
	font-weight: 700;
	font-size: var(--heading-big);
}

h3, h4 {
	font-weight: 700;
	font-size: var(--heading-medium);
}

h5, h6 {
	font-weight: 700;
	font-size: var(--heading-small);
}

p, a, span {
	font-size: var(--paragraph);
}

img, video {
	width: 100%;
	height: auto;
}

/* badges for all pages */
div.badges {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    margin: .5rem 0;

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        background-color: var(--badges);
        width: fit-content;
        padding: .3rem .8rem;
        height: 1.7rem;
        border-radius: 1rem;


        &:nth-of-type(1) {
            width: 3rem;
        }

        &:nth-of-type(2) {

        }

        &:nth-of-type(3) {
            display: none;

            @media (min-width: 1000px) {
                display: flex;
            }
        }
    }
}

/* card design universial */
section.cardlayout {

    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2vw;

        @media (min-width: 550px) {
            grid-template-columns:  1fr 1fr;
        }

        @media (min-width: 789px) {
            grid-template-columns:  1fr 1fr 1fr;
        }

        @media (min-width: 1500px) {
            grid-template-columns:  1fr 1fr 1fr 1fr;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: 2px var(--black) solid;
        border-radius: 2rem;
        box-shadow: var(--black) .3rem .3rem 0rem;
    }

    figure {
        position: relative;

        img {
            border-radius: 2rem 2rem 0rem 0rem;
            
        }

        p:nth-of-type(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: .7rem;
            top: .7rem;
            height: 1.7rem;
            border-radius: 1rem;
            background-color: var(--secondary);
            font-size: 1rem;

            @media (min-width: 700px) {
                left: 1rem;
                top: 1rem;
                width: 6rem;
                height: 2rem;		
            }
        }
    }

    article {

        padding: .5rem;
        
        a {
            display: flex;
            font-size: 1rem;
            text-decoration: none;
            background-color: var(--secondary);
            padding: .5rem 1rem;
            margin: .5rem 0;
            color: white;
            border-radius: 2rem;

        }

        h3 {
            margin: .5rem 0;
        }

        p {
            font-size: 1.2rem;
        }

        span {
            font-size: 1rem;
            text-decoration: line-through;
            font-style: italic;
        }
    }
}

section.individual {

    display: flex; 
    flex-direction: column;

    @media (min-width: 789px) {
        flex-direction: row;
        gap: 5vw;
    }

    section:nth-of-type(1) {

        display: flex;
        width: 100%;

        @media (min-width: 789px) {
            flex-direction: column;
            width: 45vw;
        }
    }

    img {
        border-radius: 2rem;
    }

    section:nth-of-type(2) {

        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 789px) {

            width: 45vw;
        }
    }
}